*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts start from here>>>>>>>>>>>>>>> */

@font-face {
    font-family: "da";
    src: url(Fonts/Deadly\ Advance.ttf);
}
@font-face {
    font-family: "md";
    src: url(Fonts/MODERNA_.TTF);
}
@font-face {
    font-family: "CuteNotes";
    src: url(Fonts/Cute\ Notes.ttf);
}
@font-face {
    font-family: "french";
    src: url(Fonts/Franchise.ttf);
}
@font-face {
    font-family: "athletic";
    src: url(Fonts/New\ Athletic\ M54.ttf);
}

body{
    background-color: #07617D;
    width: 100%;
}

/* Page 01 Starts here>>>>>>>>>>>>>>>>>> */

.container1{
    display: grid;
    align-content: center;
    width: 100%;

}

.playerNames{
    font-family: da;
    font-size: 6rem;
    text-align: center;
    font-weight: 70;
    color: rgb(255, 255, 255);
}

#playButton{
    font-family: "cuteNotes";
    color: #FEFAEC;
    background-color: rgb(0, 0, 0);
    border: none;
    margin-top: 5rem;
    margin-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 40px;
    font-size: 3rem;
    transition: all 0.5s ease 0s;
    cursor: pointer;
}
#playButton:hover{
    background-color: rgb(255, 0, 0);
}

.buttonDiv{
    display: flex;
    width: 100%;
    justify-content: center;
}
.container1>p{
    color: rgb(255, 255, 255);
    font-family: md;
    text-align: center;
    font-size: 20px;
    margin-bottom: 3rem;
}

#mudassar{
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: all 0.5s ease 0s;
}

#mudassar:hover{
    color: rgb(255, 255, 255);
}

.playerNames>span{
    color: red;
}


.dice1wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 200px;
}

.dice1wrapper img{
    width: 60px;
    margin: auto 20px;
    transition: all 0.5s ease;
}
.dice1wrapper img:hover{
    width: 80px;
}



/* Page 2 Starts here>>>>>>>>>>>>> */

.players{
    display: flex;
    place-content: center;
    width: 100%;
    text-align: center;
    margin-top: 5rem;
    flex-wrap: wrap;
}

.player1{
    width: 400px;
    height: 700px;
    background-color: red;
    border: 2px solid black;
    border-radius: 100px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 100px;
}
.player1>h3{
    font-family: "da";
    color: rgb(88, 0, 0);
    font-size: 1.3rem;
    font-weight: 20;
    text-align: center;
    margin: 30px auto auto;
}
.player1>img{
    width: 200px;
    margin: 50px auto;
}
.player2{
    width: 400px;
    height: 700px;
    background-color: rgb(0, 255, 55);
    border: 2px solid black;
    border-radius: 100px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 100px;
}
.player2>h3{
    font-family: "da";
    color: rgb(4, 49, 0);
    font-size: 1.3rem;
    font-weight: 20;
    margin: 30px auto auto;
}
.player2>img{
    width: 200px;
    margin: 50px auto;
    
}

.player3{
    width: 400px;
    height: 700px;
    background-color: rgb(219, 255, 17);
    border: 2px solid black;
    border-radius: 100px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 100px;
}
.player3>h3{
    font-family: "da";
    color: rgb(77, 78, 0);
    font-size: 1.3rem;
    font-weight: 20;
    margin: 30px auto auto;
}
.player3>img{
    width: 200px;
    margin: 50px auto;
}

.player4{
    width: 400px;
    height: 700px;
    background-color: rgb(0, 217, 255);
    border: 2px solid black;
    border-radius: 100px;
    margin-right: 10px;
    margin-left: 10px;
}
.player4>h3{
    font-family: "da";
    color: rgb(0, 5, 78);
    font-size: 1.3rem;
    margin: 30px auto auto;
}
.player4>img{
    width: 200px;
    margin: 50px auto;
}

.refreshDiv{
    display: flex;
    width: 100%;
    justify-content: center;
}

#refreshMeButton{
    font-family: "md";
    color: #FEFAEC;
    background-color: rgb(255, 71, 71);
    border: 2px solid black;
    margin: 1rem auto;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 2rem;
    font-size: 2rem;
    transition: 0.15s;
    
}
#refreshMeButton:hover{
    background-color: rgb(0, 0, 0);
}

#player1Text{
    width: 30px;
    scale: 5;

}
