* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Fonts start from here>>>>>>>>>>>>>>> */

@font-face {
    font-family: "da";
    src: url(Fonts/Deadly\ Advance.ttf);
}

@font-face {
    font-family: "md";
    src: url(Fonts/MODERNA_.TTF);
}

@font-face {
    font-family: "CuteNotes";
    src: url(Fonts/Cute\ Notes.ttf);
}

@font-face {
    font-family: "french";
    src: url(Fonts/Franchise.ttf);
}

@font-face {
    font-family: "athletic";
    src: url(Fonts/New\ Athletic\ M54.ttf);
}

body {
    background-color: rgb(27, 27, 27);
    background-repeat: no-repeat;
    background-size: 100vmax 100vmax;
    overflow-x: hidden;
}

.players {
    display: flex;
    place-content: center;
    width: 100%;
    text-align: center;
    padding-top: 40px;
}

.player1 {
    width: 400px;
    height: 350px;
    background-color: red;
    border: 2px solid black;
    border-radius: 100px;
    margin: auto 20px;
    box-shadow: 1px 1px 10px rgb(190, 190, 190);
}

.player1>h3 {
    font-family: "da";
    color: rgb(88, 0, 0);
    font-size: 1.3rem;
    text-align: center;
    margin: 30px auto auto;
}

.player1>img {
    width: 200px;
    margin: auto;
}

.player2 {
    width: 400px;
    height: 350px;
    background-color: rgb(0, 255, 55);
    border: 2px solid black;
    border-radius: 100px;
    margin: auto 20px;
    box-shadow: 5px 5px 40px rgb(121, 121, 121);
}

.player2>h3 {
    font-family: "da";
    color: rgb(4, 49, 0);
    font-size: 1.3rem;
    margin: 30px auto auto;
}

.player2>img {
    width: 200px;
    margin: auto;

}

.player3 {
    width: 400px;
    height: 350px;
    background-color: rgb(219, 255, 17);
    border: 2px solid black;
    border-radius: 100px;
    margin: auto 20px;
    box-shadow: 5px 5px 40px rgb(121, 121, 121);
}

.player3>h3 {
    font-family: "da";
    color: rgb(77, 78, 0);
    font-size: 1.3rem;
    margin: 30px auto auto;
}

.player3>img {
    width: 200px;
    margin: auto;
}

.player4 {
    width: 400px;
    height: 350px;
    background-color: rgb(0, 217, 255);
    border: 2px solid black;
    border-radius: 100px;
    margin: auto 20px;
    box-shadow: 5px 5px 40px rgb(121, 121, 121);
}

.player4>h3 {
    font-family: "da";
    color: rgb(0, 5, 78);
    font-size: 1.3rem;
    margin: 30px auto auto;
}

.player4>img {
    width: 200px;
    margin: auto;
}

.refreshDiv {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 7rem auto auto;
}

#refreshMeButton {
    font-family: "md";
    color: #FEFAEC;
    background-color: rgb(255, 71, 71);
    border: 2px solid black;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 2rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 40px;
}

#refreshMeButton:hover {
    background-color: rgb(0, 0, 0);
}

#slider {
    width: 100vw;
    height: 100vh;
    background-color: rgb(27, 27, 27);
    position: absolute;
    animation-name: sliderBar;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

@keyframes sliderBar {
    from {
        top: 0vh;
    }

    to {
        top: 100vh;
    }
}



@media screen and (max-width: 1200px) {
    html {
        font-size: 50%;
    }

    .body2 {
        background-image: url(background_game);
        background-repeat: no-repeat;
        background-size: 100vmax 100vmax;
    }

    .players {
        display: flex;
        flex-wrap: wrap;
        place-content: center;
        width: 100%;
        text-align: center;
    }

    .player1 {
        width: 200px;
        height: 300px;
        background-color: red;
        border: 2px solid black;
        border-radius: 40px;
        margin: auto;
        box-shadow: 5px 5px 40px rgb(121, 121, 121);
    }

    .player1>h3 {
        font-family: "da";
        color: rgb(88, 0, 0);
        font-size: 1.3rem;
        text-align: center;
        margin: 30px auto auto;
    }

    .player1>img {
        width: 100px;
        margin: 10px auto;
    }

    .player2 {
        width: 200px;
        height: 300px;
        background-color: rgb(0, 255, 55);
        border: 2px solid black;
        border-radius: 40px;
        margin: auto;
        box-shadow: 5px 5px 40px rgb(121, 121, 121);
    }

    .player2>h3 {
        font-family: "da";
        color: rgb(4, 49, 0);
        font-size: 1.3rem;
        margin: 30px auto auto;
    }

    .player2>img {
        width: 100px;
        margin: 10px auto;

    }

    .player3 {
        width: 200px;
        height: 300px;
        background-color: rgb(219, 255, 17);
        border: 2px solid black;
        border-radius: 40px;
        margin: auto;
        box-shadow: 5px 5px 40px rgb(121, 121, 121);
    }

    .player3>h3 {
        font-family: "da";
        color: rgb(77, 78, 0);
        font-size: 1.3rem;
        margin: 30px auto auto;
    }

    .player3>img {
        width: 100px;
        margin: 10px auto;
    }

    .player4 {
        width: 200px;
        height: 300px;
        background-color: rgb(0, 217, 255);
        border: 2px solid black;
        border-radius: 40px;
        margin: auto;
        box-shadow: 5px 5px 40px rgb(121, 121, 121);
    }

    .player4>h3 {
        font-family: "da";
        color: rgb(0, 5, 78);
        font-size: 1.3rem;
        margin: 30px auto auto;
    }

    .player4>img {
        width: 100px;
        margin: 10px auto;
    }

    .refreshDiv {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 8rem auto;
    }

    #refreshMeButton {
        font-family: "md";
        color: #FEFAEC;
        background-color: rgb(255, 71, 71);
        border: 2px solid black;
        padding-left: 2rem;
        padding-right: 2rem;
        border-radius: 2rem;
        font-size: 6rem;
        cursor: pointer;
        transition: all 0.3s ease;

    }

    #refreshMeButton:hover {
        background-color: rgb(0, 0, 0);
    }
}




@media screen and (max-width: 800px) {
    html {
        font-size: 60%;
    }

    .body2 {
        background-image: url(background_game);
        background-repeat: no-repeat;
        background-size: 100vmax 1000px;
    }

    .players {
        display: flex;
        flex-wrap: wrap;
        place-content: center;
        width: 100%;
        text-align: center;
        padding-top: 1px;
        margin: 10px auto;
    }

    .player1 {
        width: 100%;
        height: 100px;
        display: flex;
        background-color: red;
        border: 2px solid black;
        border-radius: 100px;
        margin: 10px auto;
        box-shadow: 5px 5px 40px rgb(121, 121, 121);
    }

    .player1>h3 {
        font-family: "da";
        color: rgb(88, 0, 0);
        font-size: 1.3rem;
        text-align: left;
        margin: auto 2rem;
        flex-grow: 1;
    }

    .player1>img {
        width: 60px;
        margin: auto 1rem;
    }

    .player2 {
        width: 100%;
        height: 100px;
        display: flex;
        background-color: rgb(0, 255, 55);
        border: 2px solid black;
        border-radius: 100px;
        margin: 10px auto;
        box-shadow: 5px 5px 40px rgb(121, 121, 121);
    }

    .player2>h3 {
        font-family: "da";
        color: rgb(4, 49, 0);
        font-size: 1.3rem;
        text-align: left;
        margin: auto 2rem;
        flex-grow: 1;
    }

    .player2>img {
        width: 60px;
        margin: auto 1rem;
    }

    .player3 {
        width: 100%;
        height: 100px;
        display: flex;
        background-color: rgb(219, 255, 17);
        border: 2px solid black;
        border-radius: 100px;
        margin: 10px auto;
        box-shadow: 5px 5px 40px rgb(121, 121, 121);
    }

    .player3>h3 {
        font-family: "da";
        color: rgb(77, 78, 0);
        font-size: 1.3rem;
        text-align: left;
        margin: auto 2rem;
        flex-grow: 1;
    }

    .player3>img {
        width: 60px;
        margin: auto 1rem;
    }

    .player4 {
        width: 100%;
        height: 100px;
        display: flex;
        background-color: rgb(0, 217, 255);
        border: 2px solid black;
        border-radius: 100px;
        margin: 10px auto;
        box-shadow: 5px 5px 40px rgb(121, 121, 121);
    }

    .player4>h3 {
        font-family: "da";
        color: rgb(0, 5, 78);
        font-size: 1.3rem;
        text-align: left;
        margin: auto 1rem;
        flex-grow: 1;
    }

    .player4>img {
        width: 60px;
        margin: auto 1rem;
    }

    .refreshDiv {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 5rem auto;
    }

    #refreshMeButton {
        font-family: "md";
        color: #FEFAEC;
        background-color: rgb(255, 71, 71);
        border: 2px solid black;
        padding-left: 2rem;
        padding-right: 2rem;
        border-radius: 2rem;
        font-size: 3rem;
        cursor: pointer;
        transition: all 0.3s ease;

    }

    #refreshMeButton:hover {
        background-color: rgb(0, 0, 0);
    }
}
